*{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}


p{
    font-size: xx-large;

    color:Black;
}
h2,p{

}
a{
    color: red;

}
ul li a{
    background-color: aqua;

    font-size:small;
}
ul li{
    font-size:xx-large;
}
div {

}
div h3{
    text-align: center;
}
/* #Blog-page{
    background-color: aqua;
    text-align: center;
    padding: 5rem;
    
}
#one{
    width: 33%;
    text-align: center;
}
#two{
    width: 30%;
    text-align: center;

}
#three{
width: 30%;

text-align: center;
}
#title{
    text-decoration: overline;
} */
#country{
    background-color: aqua;
}
.one{
    width: 48%;
}
.title{
    text-align: center;
}
input[text]{
    
    color: green;
}