*{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}


p{
    font-size: xx-large;

    color: gold;
}
h2,p{

}
a{
    color: red;

}
ul li a{
    background-color: aqua;

    font-size:small;
}
ul li{
    font-size:xx-large;
}
div {
    background-color: red;
}
div h3{
    text-align: center;
}