*{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* 
p{
    font-size: xx-large;

    color:Black;
}
h2,p{

}
a{
    color: red;

}
ul li a{
    background-color: aqua;

    font-size:small;
}
ul li{
    font-size:xx-large;
}
div {

}
div h3{
    text-align: center;
} 
 #Blog-page{
    background-color: aqua;
    text-align: center;
    padding: 5rem;
    
}
#one{
    width: 33%;
    text-align: center;
}
#two{
    width: 30%;
    text-align: center;

}
#three{
width: 30%;

text-align: center;
}
#title{
    text-decoration: overline;
} 
#country{
    background-color: aqua;
}
.one{
    width: 48%;
}
.title{
    text-align: center;
}
input[text]{
    
    color: green;
} 
h2{
 text-align: center;
    color: black;
} 
 h2:hover{
    color:red;
    text-decoration: overline;
}
.btn{
    color: green; 

    
}
.btn:hover{
font-weight: 700;

}
.btn:disabled{
    background-color: aqua;
}
.no{
    color: black;
    background-color: red;
} 
.no::first-letter{
    color:orange;
}
.no::after{
    content: " ";
    border: 1rem solid green;
} */